<%- include ('partials/_header') %>
  <link rel="stylesheet" href="/public/styles/index.css">
  <title> Menu Principal </title>

  </head>

  <body>
    <div class="container center-block">
      <div class="row pt-5">
        <img src="/public/title.jpg" class="img-responsive rounded mx-auto d-block" alt="title">
      </div>

      <div class="row pt-5">
        <div class="col text-center">
          <a href="/tablero/" class="btn btn-primary btn-lg" role="button">Tablero</a>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col text-center">
          <a href="/categoria/" class="btn btn-secondary btn-lg" role="button">Categorías</a>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col text-center">
          <a href="/producto/" class="btn btn-primary btn-lg" role="button">Productos</a>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col text-center">
          <a href="/proveedor/" class="btn btn-secondary  btn-lg" role="button">Proveedores</a>
        </div>
      </div>

      <div class="row pt-2">
        <div class="col text-center">
          <a href="/caja/" class="btn   btn-primary btn-lg" role="button">Inventario/Historial
          </a>
          
        </div>
      </div>
    </div>
    <%- include ('partials/_footer') %>